@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');

.homepage{
    border:none;
}

.card-title{
    font-size: 70px;
    font-family: 'Mr Dafoe', cursive;
    text-decoration: underline;
    margin-bottom: 20px;
    color: var(--darkgreen);
}

.farminfo{
    font-size: medium;
    background-color: var(--extralight);
    border: none;
}

.farmtext{
    margin-top:30px;
    margin-right: 50px;
    margin-left: 15px;
    padding-right: 20px;
}

.details-img{
    border: none;
    background-color: var(--extralight);
}

.farmhouse-img:hover{
    transform: scale(1.05);
}

.roominfo{
    font-size: small;
    background-color: var(--extralight);
    border: none;
}

.roomtext{
    margin-top:30px;
    margin-right: 50px;
    margin-left: 15px;
    padding-right: 20px;
    font-size: medium;
}
 
.t_room{
    color: var(--brown);
}
.card{
    background-color: var(--extralight);
    border-radius: 40px;
    border-width: 2px;
}
